.container {overflow: hidden;}
  :root {
  --numOfListA: 5;
  --imgW: 300px;
  --imgH: var(--imgW);
  --mBetweenImg: 50px;
  }
  .slider-container {
  display: flex;
  font-size: 0;
  animation: slideshow 15s linear infinite;
  }
  .slider-img {
  width: var(--imgW);
  height:  var(--imgH);
  }
  .slider-img + .slider-img {margin-left: var(--mBetweenImg);}
  @keyframes slideshow {100% {transform: translateX(calc((var(--numOfListA) * var(--imgW) + var(--mBetweenImg) * var(--numOfListA)) * -1));}}

  h1{
    font-size: 80px;
}

body {
    padding-top: 80px;
  }
  
button{
    width: 200px;
    height: 60px;
    font-size: 35px;
    margin-bottom: 35px;
}